body{
    margin: 0px;
    background: black;
}

.mainbody{
    width: 100%;
    height: 100vh;
}

.title{
  font-family: "Pixelify Sans", sans-serif;
  color: #39FF14;
  margin: auto;
  width: 30%;
  font-size: 50px;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}

#interpol-button{
    margin: 50px;
    border-color: #39FF14;
    border-radius: 5px;
    border-width: 2px;
    background: none;
    color: #39FF14;
    font-family: "Pixelify Sans", sans-serif;
    padding: 10px 20px;
    font-size: 20px;
    transition: color 0.2s ease, backgroun 0.2s ease;
}
#interpol-button:hover{
    color: black;
    background: #39FF14;
}